*-debug.log
*-error.log
/.nyc_output
dist
dist_bin
/tmp
node_modules
.vscode
.DS_Store
temp_notes.md
*.log
tsconfig.tsbuildinfo
scratch_pad.txt
packages/*/smartthings-cli-*.tgz
coverage
smartthings-*.zip

# the Typescript outDir that oclif prefers
packages/cli/lib

# functional tests
.pytest_cache
__pycache__
