name: CI

on: pull_request

jobs:
  lint-commits:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.8.0
      - run: npm ci
      - run: npx commitlint --from HEAD~${{ github.event.pull_request.commits }} --to HEAD

  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        # add/remove versions as we move support forward
        node-version: [24.8.0]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6.0.1
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build
      - run: npm run lint
        if: ${{ runner.os == 'Linux' }} # skip Windows since line-endings will be wrong
      - run: npm run test
